<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {% from 'partials/header.html' import header %}
  {{ header("Dashboard") }}


  {% if userName %}
  <h2>Welcome {{userName}}</h2>
  {% endif %}
  <button id="logout" class="top-right button">Sign Out</button>

  <p>Please enter a new report ID to add it to your account. The
    report ID should start with <strong>1EBOVIR</strong> followed by digits (e.g., <em>1EBOVIR123456789</em>).</p>
  <div id="add-report-form">
    <form id="report-form" class="dashboard-form">
      <div class="dashboard-form-container">
        <input type="text" id="report-input" class="text-field" name="report_name" placeholder="Enter report ID"
          required />
        <button type="submit" class="button">Add Report</button>
      </div>
    </form>
  </div>

  <h2>My Reports</h2>
  <div class="dashboard-report-container">
    <div class="dashboard-panel">
      <div id="report-container" class="scroll-area">
        <!-- Reports will be dynamically appended here -->
      </div>
    </div>
    <div class="dashboard-panel">
      <div id="faq-container" class="scroll-area">
        <div id="report-choice" class="button faq-item">Ask ReportBot your questions on this report!</div>
        <hr>
        <h2>Frequently Asked Questions</h2>
        <!-- FAQ will be dynamically appended here -->
      </div>
    </div>

  </div>

  <div class="product-link">
    <p>Need help with our products?</p>
    <a href="/product">A</a>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </div>

</body>

</html>