<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Ebogenes Bot Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {% from 'partials/header.html' import header %}
  {{ header(" ") }}
    <div>
      <h1 class="body-h1">Please Choose Assistant</h1>
    </div>
    <div id="chat-container">
    </div>
    <a href="/productbot" id="product-bot">Product Assistant</a>
    <a href="/genereportbot" id="report-bot">GeneReport Assistant</a>

</body>

</html>
