<!DOCTYPE html>
<html>

<head>
    <title>Medical LLM Query</title>
</head>

<body>
    <h1>Product Assistant Bot</h1>
    <form action="/product" method="post">
        <textarea name="prompt" rows="5" cols="50" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
    {% if product_response %}
    <pre class="product_response">{{ product_response|safe }}</pre>
    {% endif %}


    <h1>Report Assistant Bot</h1>
    <form action="/report" method="post">
        <textarea name="prompt" rows="5" cols="50" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
    {% if report_response %}
    <pre class="report_response">{{ report_response|safe }}</pre>
    {% endif %}
    <br>
    <br>
    <p>Reload product and table of contents database</p>
    <input type="button" value="Reload Database" id="reload">

    <script>
        document.getElementById('reload').addEventListener('click', function () {
            fetch('/reload', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        alert('Database reloaded!');
                    } else {
                        alert('Failed to reload database');
                    }
                })
                .catch(error => {
                    alert('Network error!');
                });
        });
    </script>

    <br>
    
</body>

</html>