<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Ebogenes - Product Assistant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    {% from 'partials/header.html' import header %}
    {{ header("Product Assistant") }}
    <div id="chat-container">
    </div>
    <form id="chat-form">
    <input id="chat-input" type="text" placeholder="How can I help you today?" autocomplete="off" required />
    <button id="chat-submit" type="submit">Send</button>
    </form>

    <script src="{{ url_for('static', filename='js/product_bot.js') }}"></script>
</body>

</html>
