<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Ebogenes - AI Consultant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
  {% from 'partials/header.html' import header %}
  {{ header("AI Consultant") }}
  <div id="chat-container">
  </div>
  <p id="load-notification">Database loading...</p>
  <form id="chat-form">
    <input id="chat-input" class="text-field" type="text" placeholder="How can I help you today?" autocomplete="off" required />
    <button id="chat-submit" type="submit" class="button">Send</button>
  </form>

  <script src="{{ url_for('static', filename='js/report_bot.js') }}"></script>
</body>

</html>